version: '3.8'

services:
  app:
    build: .
    container_name: my_tochanka_app
    volumes:
      - ./logs:/app/logs
      - ./static:/app/static
      - ./templates:/app/templates
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "5000:5000"  # Добавьте это для доступа к Flask приложению

  db:
    image: mysql:8.0
    container_name: my_tochanka_db
    environment:
      MYSQL_ROOT_PASSWORD: Tochankau110574  # Добавлен пароль
      MYSQL_DATABASE: Gold_medal
      MYSQL_USER: root
      MYSQL_PASSWORD: Tochankau110574
    volumes:
      - db_data:/var/lib/mysql
      - ./mydb.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    restart: unless-stopped

  bot:
    build: .
    container_name: my_tochanka_bot
    command: python telegram_bot.py
    volumes:
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
    restart: unless-stopped

volumes:
  db_data: