version: '3.8'

services:
  app:
    build: .  # Использует Dockerfile в текущей директории
    network_mode: host  # Контейнер использует сеть хоста для доступа к локальной БД
    environment:
      - DB_HOST=localhost  # Или IP вашего хоста, например 192.168.1.100 (если не host mode)
      - DB_PORT=3306       # Порт MySQL (измените, если другой)
      - DB_USER=root  # Ваш логин БД
      - DB_PASS=Tochankau110574  # Ваш пароль БД
      - DB_NAME=Football  # Имя БД
      # Добавьте другие переменные, если нужно (например, для Telegram API токена)
    volumes:
      - .:/app  # Монтируем текущую директорию для разработки (опционально, для hot-reload)
    command: python main.py  # Запуск main.py
    restart: unless-stopped  # Автозапуск при сбое